# macOS
.DS_Store

# node.js
node_modules/
npm-debug.log
yarn-error.log

# Android
android/
android/app/build/
android/build/
android/captures/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties

# iOS
ios/Pods/
ios/Podfile.lock
ios/build/
ios/*.xcworkspace
ios/*.pbxproj
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.xcuserdatad
ios/*.xccheckout

# misc
.idea/
.vscode/
*.iml
*.log

# dotenv
.env
